h1 {
    background-color: blueviolet;
    color: red;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 0 10px;
}
----
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
----
p {
    color: blue;
}

h3 {
    text-decoration: underline;
}

body {
    background-image: radial-gradient(white, antiquewhite, rgb(188, 255, 188), greenyellow);
    background-position: center;
    z-index: -1;
    font-family: century gothic;
}

.bg {
    height: 50%;
}

img {
    border: 10px double black;
    border-radius: 30px;
    box-shadow: 0px 10px 20px;
}

img:hover {
    transform: scale(1.1);
}

a:hover {
    COLOR: maroon;
    font-weight: bold;
}

section {
    text-align: center;
}

section.Sstyle {
    font-variant: small-caps;
}